/************************************************
##### RESETEO  ########
*************************************************/
a:hover{
    text-decoration:none;
}

html{
	background: #fff;
}
.logo-login{
margin-top: 15%;
}
/*********************************************************
## Clase active para carpetas
*********************************************************/
.side-nav>li>ul>li.active>a{
	color: #fff;
    background-color: #080808;
}

table tbody tr > td:first-child{
	
	    width: 35%;
	}
table tbody tr:last-child{
    
        border-bottom: 1px solid #ddd;
    }

.menu-heading > .breadcrumb{
	/*margin-bottom: 0;*/
}
/***********************************************************************
"" Estilo e menu

************************************************************************/
#wrapper{
	    background-color: white;
}
#page-wrapper{
	
	   margin-top: 100px;
	       
}
.menu{
	width:100%;
}

.menu ul{
	    width: 100%;
    padding-left: 250px;
    background: white;
}

/*----------------------------
    The file upload form
-----------------------------*/


#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);


    padding:30px;
    border-radius:3px;

    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    
    width: 100%;
}

#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../Plugins/upload/assets/img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
    text-decoration: none;
    
    display: block;
    width: 50%;
    margin-right: 0;
    margin-left: 25%;
}

#drop a:hover{
    background-color:#0986a3;
    text-decoration: none;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    /*height: 52px;*/

    position: relative;
}
#upload ul li > div {

        display: block;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../Plugins/upload/assets/img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

#black_overlay {
    
    width:100%;
    position: absolute;
    /*background-color: #333;*/
    background: url('../Plugins/upload/assets/css/images/overlay.png') repeat 0 0;
    left: 0;
    opacity: 0.8;
    top: 0;
    z-index: 2000;
    visibility: hidden;
}
.added  {
   width: 60%;
    
    border:2px solid #a5a5a5;
    padding:20px;
    background-color:#dfdfdf;
    border-radius:3px;
    display:none;
    text-align:center;
    z-index:2001;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}
.Login{cursor: pointer;}

#cboxClose {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url('../Plugins/upload/assets/css/images/controls.png') no-repeat -25px 0;
    width: 25px;
    height: 25px;
    text-indent: -9999px;

    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    cursor: pointer;
    border-radius: 50%;
}
.menu .navbar-nav>li>a:hover {
    color: black;
    background-color: #f5f5f5;
}
.new-folder-none{
    /*display: none;*/
}
#new-folder{
    background: #e2f0fc;
}
#new-folder i{
    font-size: 1.5em;

}
#new-folder form{
    display: inline;
}
#rolling, #rolling-body{
    position:absolute;
        z-index: 100;
    top: 25%;
    left: 35%;
    display: none;

}
.row-file:hover > td div.opciones{

    opacity: 1;
}
.opciones{

    display: inline-block;
    margin-left: 15%;
    opacity: 0;
}
.opciones a{
    margin-left: 2px;
}
.thumb{
    width: 35px;
    height:35px;
}
.thumb:hover{
    text-decoration: none;
}
/************************************/
.cont-browse{
    display:none;
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 2001;
    background: white;
    padding: 15px;
    border: 10px solid grey;
    border-radius: 20px;
    transform:translate(-50%,-50%);
}
.cont-browse div.btn-group{
        margin-left: 50%
}
.cont-browse div.btn-group > button{
        margin: 5px;
}
.dropdown-menu a{cursor:pointer;}